



#content{
    position: relative;
}

#header{
    text-align: center;
    top: 0px;
    position: sticky;
    background-color: rgb(27, 55, 105);
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    
    border-color: lightcoral;
}

#tabs{
    padding-bottom: 2ch;
    text-align: center;
    color: lightcyan;
    background-color: rgb(27, 55, 105);
}

#zoom{
    width: 200px;
    position:absolute;
    right: 1rem;
    bottom: 50%;
    
}


#header h1{
    
    text-align: center;
    padding-top: 12pt;
    padding-left: 10pt;
    color: lightcyan;
}



#mygallery{
    display: flex;
    flex-wrap: wrap;
}

img:hover{
    cursor: pointer;
}

.gimg{
    height: 200px;
}

.img_content{
    padding: .2rem;
    
}

#popup p{
    text-align: center;
    border-radius: 2ch;
    padding: 1rem;
    background-color: rgb(116, 8, 65);
    color: white;

    background: rgb(189,26,210);
    background: linear-gradient(45deg, rgba(189,26,210,1) 0%, rgba(102,125,178,1) 52%, rgba(10,152,181,1) 100%);

    border-style: solid;
    border-color: rgb(240, 235, 191);
}

#popup p:hover{
    background: rgb(10,152,181);
    background: linear-gradient(45deg, rgba(10,152,181,1) 0%, rgba(102,125,178,1) 52%, rgba(189,26,210,1) 100%);    
    cursor: pointer;
}

#popup{
    
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    position: fixed;
    width: 200px;
    height: 200px;

    
    
}